* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    background-color: rgb(246, 255, 0);
    align-items: center;
    padding: 10px;
}

.header__title {
    font-size: 18px;
}
.nav__list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    max-width: 960px;
    margin:0 auto;

}
.nav__list__item {
    list-style: none;
    margin-right: 20px;
}
.nav__list__item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}
.links__wrapper {
    background-color: rgb(142, 149, 168);
    padding: 10px 20px;
    max-width: 960px;
    margin:0 auto;
    font-size: 14px;
}
.links__wrapper__img {
    width: 200px;
}

.table__wrapper {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 960px;
    order: 2;

}
.table {
    border: 1px solid black;
}
.table td, th {
    padding: 2px;
    font-size: 9px;
    border: 1px solid black;
    text-align: center;
}
.table tr:nth-child(2n) {
    background-color: rgb(255, 255, 255);
}
.table tr:nth-child(2n+1) {
    background-color: rgb(104, 104, 183);
}
.form {
    padding: 30px 20px;
    order: 1;
    max-width: 960px;
    background-color: skyblue;
}
.table__form__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
}
.form textarea {
    width: 220px;
}

.footer {
    padding: 10px 20px;
    background-color: black;
    color: white;
}
@media screen and (min-width: 321px) {
    .table td, th {
        font-size: 10px;
    }
    .header__logo img {
        width: 100px;
    }
    .links__wrapper__img {
        width: 250px;
    }
    .header__title {
        font-size: 30px;
    }
}
@media screen and (min-width: 541px) {
    .nav__list {
        flex-direction: row;
    }
    .nav__list__item a {
        font-size: 20px;
        margin-right: 30px;
    }
    .table td, th {
        font-size: 20px;
    }
    input {
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .form textarea {
        width: 400px;
    }
    .table__wrapper {
        order: 1;
    }
    .form {
        order: 2;
    }
}
